<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <h1 th:if="${jobs}" th:text="${jobs.size() + ' Jobs Found'}"></h1>
    <div  th:if="${jobs} and ${jobs.size()}" >
        <table class="container-body-content" th:each="job : ${jobs}">

            <tr th:each="jobField : ${job}">
                <td th:text="${jobField.key}"></td>
                <td th:text="${jobField.value}"></td>
            </tr>
            <br></br>
        </table>

    </div>

</div>

</body>
</html>